<a href="https://colab.research.google.com/github/mrksntndr/NUMERICAL-METHODS---58011/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##IF STATEMENT

In [ ]:
a = 12
b = 100

if b>a:
  print("b is greater than a")

b is greater than a

##ELIF STATEMENT

In [ ]:
a = 12
b = 12

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

a and b are equal

##ELSE STATEMENT

In [ ]:
a = 200
b = 33

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

##SHORT HAND IF STATEMENT

In [ ]:
a = 12
b = 100

if b>a: print("b is greater than a")

b is greater than a

##SHORT HAND IF ELSE

In [ ]:
c = 35
d = 40

print("c is greater than d") if c>d else print("d is greater than c")

d is greater than c

##AND-BOTH CONDITIONS ARE TRUE (AND LOGIC)

In [ ]:
a = 200
b = 33
c = 500

if a>b and c>a:
  print("At least one of the conditions is TRUE")

At least one of the conditions is TRUE

## IF ONE OF THE CONDITIONS IS TRUE (OR LOGIC)

In [ ]:
if c>a or b>a:
  print("If one of the two operands is TRUE")

If one of the two operands is TRUE

##NESTED IF

In [ ]:
x = int(input())

if x>10:
  print("Above 10")
if x>20:
  print("And also above 20!")
else:
  print("But not above 20.")

35
Above 10
And also above 20!

##APPLICATION 1

In [ ]:
age = int(input())

if age>=18:
  print("QUALIFIED to vote")
else:
  print("NOT QUALIFIED to vote")

18
QUALIFIED to vote

##APPLICATION 2

In [1]:
number = int(input())

if number>0:
  print("Input is POSITIVE")
elif number<0:
  print("Input is NEGATIVE")
else:
  print("Input is ZERO")

2
Input is POSITIVE

##FOR - LOOP STATEMENT

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week: 
  print(x)

if x == "Thursday":
  break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##THE BREAK STATEMENT

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week: 
  print(x)

  if x == "Thursday": 
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

##WHILE LOOP

In [ ]:
y = 3

while y<6:
  print(y)
  if y == 3:
    break
  y += 1

3